<div class="log-table">
    <table>
        <caption>
            Latest incoming Plex requests
        </caption>
        <thead>
        <tr>
            <th>Date</th>
            <th>Event</th>
            <th>IMDb</th>
            <th>Rating</th>
            <th>Username</th>
            <th>Title</th>
            <th>Year</th>
        </tr>
        </thead>
        <tbody>
            {% if log is defined %}
                {% for line in log %}
                    {% if line.event is defined %}
                        {% set link = '' %}
                        {% if line.imdb is defined %}
                            {% set link = '<a target="_blank" rel="noopener" href="https://www.imdb.com/title/' ~ line.imdb ~ '/">' ~ line.imdb ~ '</a>' %}
                        {% endif %}
                        <tr>
                            <td>{% if line.logDate is defined %}{{ line.logDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                            <td>{% if line.event is defined %}{{ line.event }}{% endif %}</td>
                            <td>{{ link|raw }}</td>
                            <td>{% if line.rating is defined %}{{ line.rating }}{% endif %}</td>
                            <td>{% if line.Account.title is defined %}{{ line.Account.title }}{% endif %}</td>
                            <td>{% if line.Metadata.title is defined %}{{ line.Metadata.title }}{% endif %}</td>
                            <td>{% if line.Metadata.year is defined %}{{ line.Metadata.year }}{% endif %}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>