<div class="log-table">
    <table>
        <caption>
            Latest outgoing Letterboxd requests
        </caption>
        <thead>
        <tr>
            <th>Date</th>
            <th>ID</th>
            <th>Rating</th>
            <th>Title</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
            {% if log is defined %}
                {% for line in log %}
                    {% set id = '' %}
                    {% if line.url %}
                        {% set id = '<a target="_blank" rel="noopener" href="https://letterboxd.com' ~ line.url ~ '">' ~ line.filmId ~ '</a>' %}
                    {% else %}
                        {% set id = line.filmId %}
                    {% endif %}

                    {% set added = 'logged' %}
                    {% if line.result == false %}
                        {% set added = 'failed' %}
                    {% endif %}
                    <tr>
                        <td>{% if line.logDate %}{{ line.logDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td>{{ id|raw }}</td>
                        <td>{% if line.rating %}{{ line.rating }}{% endif %}</td>
                        <td>{% if line.film %}{{ line.film }}{% endif %}</td>
                        <td>{{ added }}
                            {% if added == 'failed' and line.retried == false %}
                                <form action="{{ path('letterboxd_retry') }}" id="letterboxd-retry-{{ loop.index }}-form" class="inline retry-form" method="post">
                                    <input type="hidden" name="token" value="{{ csrf_token('retry-letterboxd') }}">
                                    <input type="hidden" name="rating" value="{{ line.rating }}">
                                    <input type="hidden" name="id" value="{{ line.filmId }}">
                                    <input type="hidden" name="date" value="{{ line.logDate }}">
                                    <a href="#" onclick="document.getElementById('letterboxd-retry-{{ loop.index }}-form').submit()">
                                        <svg
                                                xmlns="http://www.w3.org/2000/svg"
                                                width="16"
                                                height="16"
                                                viewBox="0 0 24 24"
                                                fill="none"
                                                stroke="#bcbcbc"
                                                stroke-width="2"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                        >
                                            <path d="M2.5 2v6h6M21.5 22v-6h-6"/><path d="M22 11.5A10 10 0 0 0 3.2 7.2M2 12.5a10 10 0 0 0 18.8 4.2"/>
                                        </svg>
                                    </a>
                                    <noscript>
                                        <input type="submit" value="retry" />
                                    </noscript>
                                </form>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>